@charset "UTF-8";
body{
    background-color: rgb(47, 47, 47);
    font-size: medium;
    }
h1{
    color: rgba(194, 193, 198, 0.742);
    background-color: rgb(66, 65, 65);
    }
h2{
    color: rgb(245, 244, 249);
    }
p{
    color: rgb(249, 246, 246);
    }

